*_sm.*
*.exe
checkstring
/UpgradeLog4.htm
/UpgradeLog3.htm
/UpgradeLog2.htm
/UpgradeLog.htm
/README.txt
/Makefile
/ex1.vcxproj.user
/ex1.vcxproj.filters
/ex1.vcxproj
/ex1.vcproj
/ex1.suo
/ex1.sln
/ex1.dsw
/ex1.dsp
/Debug
/Backup
/.vs/ex1/v16
